<h1 class="view-heading">Patterns</h1>
<p>Patterns are best practice design solutions for specific user-focused tasks and page types.</p>
<p>All of the patterns in this section are supported by written guidance and contain coded examples where possible.</p>
<p>Patterns often use one or more <a routerLink="/components">components</a> and explain how to adapt them to the context.</p>