@import "../../../assets/styles/colours";
@import "../../../assets/styles/typography";

.phase-banner {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;

  .phase {
    display: inline-block;
    align-self: flex-start;
    height: 30px;
    margin-right: 0.5rem;
    padding: 0.25rem 1rem;
    background-color: $pink;
    font-weight: $semi-bold;
    color: $white;
    text-transform: uppercase;
  }
}