<ul class="context-menu">
  <li *ngFor="let item of items" [ngClass]="activeFragment === item.fragment ? 'active' : ''" [routerLinkActive]="outlet ? 'active' : ''" class="context-item">
    <a [routerLink]="item.route"
      [fragment]="item.fragment"
      [ngClass]="activeFragment === item.fragment ? 'active' : ''"
      [routerLinkActive]="outlet ? 'active' : ''"
      class="context-link">{{item.name}}</a>
  </li>
</ul>
