@import "../../../assets/styles/typography";
@import "../../../assets/styles/colours";
@import "../../../assets/styles/layout";
@import "../../../assets/styles/helpers/focus";
@import "../../../assets/styles/helpers/respond-to";

.context-menu {
  margin-bottom: 2rem;
  padding: 0;
  list-style-type: none;

  @include respond-to {
    position: sticky;
    top: $header-height + 30px;
    left: 0;
  }

  .context-item {
    padding: 0.25rem;
    border-left: solid 4px transparent;

    &.active {
      border-left-color: $ef-blue;
    }

    .context-link {
      display: inline-block;
      margin-left: 0.5rem;
      color: $link-colour;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:focus {
        @include outline-text;
      }

      &.active {
        font-weight: $semi-bold;
        text-decoration: none;
        cursor: default;
      }
    }
  }
}