<footer class="footer container">
  <div class="row">
    <div class="col-md-8">
      <img src="assets/images/eurofins-biopharma-white.svg" alt="Eurofins BioPharma" class="logo" />
    </div>
    <div class="col-md-4">
      <app-footer-navigation [items]="generalItems"></app-footer-navigation>
      <app-footer-navigation [items]="legalItems"></app-footer-navigation>
    </div>
  </div>
</footer>
