@import "../../../assets/styles/colours";

.footer {
  min-height: 200px;
  padding: 2rem 1rem 1rem;
  background-color: $grey;
  border-top: solid 10px $border-colour;

  .logo {
    max-width: 300px;
    margin-bottom: 2rem;
  }
}