<div id="content" class="row content reading with-padding">
  <section>
    <h1 class="view-heading">Design your service using these styles, components and patterns</h1>
    <p>Use this design system to make your service consistent with Eurofins.</p>
    <p><a routerLink="/styles" class="btn primary">Get started</a></p>
  </section>
  <div class="row width-full">
    <aside class="col-sm">
      <h2 class="sub-heading">Styles</h2>
      <p>Make your service look like Eurofins with guides for applying layout, typography and colour.</p>
      <p><a routerLink="/styles">Browse styles</a></p>
    </aside>
    <aside class="col-sm">
      <h2 class="sub-heading">Components</h2>
      <p>Save time with reusable, accessible and tested components built using Angular and HTML.</p>
      <p><a routerLink="/components">Browse components</a></p>
    </aside>
    <aside class="col-sm">
      <h2 class="sub-heading">Patterns</h2>
      <p>Help users complete common tasks with our established patterns.</p>
      <p><a routerLink="/patterns">Browse patterns</a></p>
    </aside>
  </div>
  <app-phase-banner phase="alpha" feedbackUrl="mailto:michael@formatdigital.com"></app-phase-banner>
</div>
