@import "../../../assets/styles/layout";
@import "../../../assets/styles/colours";

.header {
  position: relative;
  z-index: 1;
  &.sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  height: $header-height;
  background-color: $header-background;
  box-shadow: 0 2px 15px 5px $box-shadow-colour;

  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
  }
}