<header class="header" [ngClass]="sticky ? 'sticky' : ''">
  <div class="container flex">
    <a [routerLink]="'/'" class="app-heading"><ng-content></ng-content></a>
    <app-primary-navigation *ngIf="navItems" [items]="navItems"></app-primary-navigation>
  </div>
</header>
