<h1 class="view-heading">Asking the user questions</h1>
<p>When we want to ask the user a question we use a form. 
  Forms are no fun. They require users to do a lot of work. 
  To increase the chance that your form will get completed, minimize the effort that your users will have to put in and the information that they need to remember.</p>
<p>Try and keep the number of questions in a single form low and on a specific topic.</p>
<div class="example">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" [ngClass]="hasErrors === true ? 'form-error' : ''">
    <legend class="form-legend">What is the address?</legend>
    <span *ngIf="hasErrors === true" class="form-error-message">This form has errors and has not been saved.</span>
    <span class="form-hint">This is the address that will be associated with the study.</span>
    <fieldset class="form-fieldset">
        <legend class="form-legend">Is this a site address?</legend>
        <span class="form-radio-item inline">
        <input id="yes" name="site" type="radio" [value]="true" class="form-radio-input" formControlName="site" />
        <label for="yes" class="form-radio-label">
        <span class="form-radio"><i class="far fa-circle"></i></span>Yes
        </label>
        </span>
        <span class="form-radio-item inline">
        <input id="no" name="site" type="radio" [value]="false" class="form-radio-input" formControlName="site" />
        <label for="no" class="form-radio-label">
        <span class="form-radio"><i class="far fa-circle"></i></span>No
        </label>
        </span>
    </fieldset>
    <fieldset class="form-fieldset">
        <div class="form-group">
          <label for="address-line-1" class="form-label">Building name and street</label>
          <span *ngIf="addressLine1.invalid && (addressLine1.dirty || addressLine1.touched)" class="form-validation">
            We need the first line of your address.</span>
          <input id="address-line-1" name="address-line-1" type="text" class="form-input" formControlName="addressLine1" placeholder="Required" />
          <input id="address-line-2" name="address-line-2" type="text" class="form-input" formControlName="addressLine2" />
        </div>
        <label for="address-line-3" class="form-label">Town or city</label>
        <span *ngIf="city.invalid && (city.dirty || city.touched)" class="form-validation">
          A town or city is required.</span>
        <input id="address-line-3" name="address-line-3" type="text" class="form-input width-two-thirds" formControlName="city" placeholder="Required" />
        <label for="address-line-4" class="form-label">County</label>
        <span *ngIf="county.invalid && (county.dirty || county.touched)" class="form-validation">
          A county is required.</span>
        <input id="address-line-4" name="address-line-4" type="text" class="form-input width-two-thirds" formControlName="county" placeholder="Required" />
        <label for="postcode" class="form-label">Postcode</label>
        <span *ngIf="postcode.invalid && (postcode.dirty || postcode.touched)" class="form-validation">
          A postcode is required.</span>
        <input id="postcode" name="postcode" type="text" class="form-input width-one-third" formControlName="postcode" placeholder="Required" />
    </fieldset>
    <app-button type="submit" cssClass="primary">Save</app-button>
    <app-button cssClass="negative" (click)="clearForm()">Clear</app-button>
  </form>
  <div *ngIf="this.result">
  <h3 class="minor-heading">Form results</h3>
  <p>Obviously you wouldn't just print out the form submission like this, but you can see how we capture the user data which could
     then be processed by a service.</p>
  <p><b>Site:</b> {{ this.result?.site }}</p>
  <p><b>Address:</b> <br>
    {{ this.result?.addressLine1 }}<br>
    {{ this.result?.addressLine2 }}<br>
    {{ this.result?.city }}<br>
    {{ this.result?.county }}<br>
    {{ this.result?.postcode }}
  </p>
  </div>
</div>
<section>
  <h2 class="sub-heading">Building the form</h2>
  <p>The above example is created using <a href="https://angular.io/guide/reactive-forms">Angular Reactive Forms</a> and some basic 
    <a href="https://angular.io/guide/form-validation">validation</a>. You can, however, apply the design patterns used here to any
     web based form you are building.</p>
  <h3 class="minor-heading">The HTML</h3>
  <pre><code class="language-html" pCode>{{codeSnippets.formHTML}}</code></pre>
  <h3 class="minor-heading">Page load</h3>
  <pre><code class="language-javascript" pCode>{{codeSnippets.initJS}}</code></pre>
  <h3 class="minor-heading">Form submission</h3>
  <pre><code class="language-javascript" pCode>{{codeSnippets.submitJS}}</code></pre>
  <p>View the full example <a href="https://bitbucket.org/formatdigital/design-system/src/master/src/app/views/patterns/form/">here</a>.</p>
</section>