@import "../../../assets/styles/helpers/respond-to";
@import "../../../assets/styles/colours";

.footer-navigation {
  @include respond-to(min-width, $md) {
    padding-left: 1rem;
    border-left: solid 1px $white;
  }

  .nav-list {
    margin: 0 0 2rem 0;
    padding: 0;
    list-style-type: none;

    .nav-item {
      margin-bottom: 0.5rem;
      line-height: 1.2rem;

      .nav-link {
        font-size: 0.9rem;
        color: $white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}