<nav class="footer-navigation">
  <ul class="nav-list">
    <li *ngFor="let item of items" class="nav-item">
      <a [routerLink]="[item.route]"
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{exact: false}"
        class="nav-link">{{item.name}}</a>
    </li>
  </ul>
</nav>
