<h1 class="view-heading">Helping the user manage data</h1>
<p>When we want to present data to the user that they can interact with we use the <a routerLink="/components" fragment="data-table">data table</a> component. 
  If we are presenting simple tabular data to the user, then we should consider the <a routerLink="/components" fragment="table">table</a> component instead.</p>
<div class="example">
  <p-table [value]="studies" selectionMode="single" (onRowSelect)="selected($event)" [responsive]="true" [scrollable]="true" scrollHeight="180px">
    <ng-template pTemplate="caption">Select a study from the list</ng-template>
    <ng-template pTemplate="header">
      <tr>
          <th>Name</th>
          <th>Code</th>
          <th>Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-study>
      <tr [pSelectableRow]="study">
          <td class="table-header">{{study.name}}</td>
          <td>{{study.id}}</td>
          <td>{{study.status}}</td>
      </tr>
    </ng-template>
    </p-table>
    <p-dialog [header]="selectedRow?.name" [(visible)]="display" [modal]="true" styleClass="modal">
      <p><b>{{ selectedRow?.id }}</b> is <em>{{ selectedRow?.status }}</em></p>
      <h3 class="minor-heading">More details</h3>
      <p *ngIf="readMode; else editMode">{{ selectedRow?.description }}</p>
      <form [formGroup]="form" (ngSubmit)="save(form.value)" #formEdit="ngForm">
        <ng-template #editMode>
          <label for="name" class="form-label">Name</label>
          <input id="name" name="name" class="form-input" formControlName="name" [value]="selectedRow?.name" />
          <textarea
          id="description"
          name="description"
          class="form-textarea"
          rows="5"
          [value]="selectedRow?.description"
          formControlName="description"></textarea>
        </ng-template>
      </form>
      <p-footer>
        <app-button cssClass="negative" (clicked)="close()">Cancel</app-button>
        <app-button *ngIf="readMode" (clicked)="edit()">Edit</app-button>
        <app-button *ngIf="!readMode" type="submit" cssClass="primary" (click)="formEdit.ngSubmit.emit()">Save</app-button>
      </p-footer>
    </p-dialog>
</div>
<section>
  <h2 class="sub-heading">Making a user friendly data table</h2>
  <p>In this example we use our data table, the <a href="https://primefaces.org/primeng/#/dialog">PrimeNG Dialog</a> component and <a href="https://angular.io/guide/reactive-forms">Angular Reactive Forms</a>.</p>
  <p>Although inline editing is possible using the PrimeNG data table, we prefer to open a row in a read mode on selection. The user is then able to read more or edit and save.
    This makes a clear distinction between reading information and editing it. If there is no additional information to display in the dialog as to what is displayed in the row, then taking the user directly into edit mode would be acceptable.</p>
  <p>Only fields that the user can update should be shown in a form format. Read only fields should remain as text. Minimal visual confirmation of a successful update is to change the format from form to text, but feel free to add additional visual clues if deemed helpful.</p>
  <p>Finally, use paging only as a last resort as it is not a nice experience on mobile. Sticky scrolling and lazy loading are prefered where possible.</p>
  <h3 class="minor-heading">The HTML for the data table</h3>
  <pre><code class="language-html" pCode>{{codeSnippets.dataTableHTML}}</code></pre>
  <h3 class="minor-heading">The HTML for the dialog</h3>
  <pre><code class="language-html" pCode>{{codeSnippets.dialogHTML}}</code></pre>
  <h3 class="minor-heading">The simple events used to change states in this example</h3>
  <pre><code class="language-javascript" pCode>{{codeSnippets.dialogJS}}</code></pre>
  <p>View the full example <a href="https://bitbucket.org/formatdigital/design-system/src/master/src/app/views/patterns/data/">here</a>.</p>
</section>