<div [class]="cssClass">
  <span *ngFor="let segment of segments" class="segment">
    <input
      [id]="segment.id"
      [name]="name"
      [value]="segment.value"
      type="radio"
      class="segment-input"
      [checked]="segment.checked" />
    <label [for]="segment.id" class="segment-label" (click)="handleClick(segment.value)">{{segment.label}}</label>
  </span>
</div>
