@import "../../../assets/styles/colours";
@import "../../../assets/styles/typography";
@import "../../../assets/styles/helpers/respond-to";
@import "../../../assets/styles/helpers/focus";

.segmented-control {
  @include respond-to {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &.right {
      justify-content: flex-end;
    }

    &.centre {
      justify-content: center;
    }
  }
  
  margin-bottom: 1rem;

  .segment {
    display: block;
    @include respond-to {
      display: inline-block;
    }

    @include respond-to {
      &:last-child { 
        .segment-label {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
  
      &:first-child { 
        .segment-label {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }
    }
  
    .segment-input {
      position: absolute;
      opacity: 0;
    }
  
    .segment-label {
      display: inline-block;
      width: 100%;
      @include respond-to {
        width: 110px;
      }
      margin-top: -1px;
      @include respond-to {
        margin-top: 0;
        margin-left: -1px;
        height: 40px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      padding: 0.5rem;
      border: solid 1px $white;
      font-size: 1rem;
      text-align: center;
    }
  
    .segment-input + .segment-label {
      background-color: $segmented-background;
      color: $text-colour;
      cursor: pointer;
      transition: all 0.2s linear;
    }
  
    .segment-input:checked + .segment-label {
      background-color: $segmented-background-active;
      color: $white;
      font-weight: $semi-bold;
      cursor: default;
    }

    .segment-input:checked:hover + .segment-label {
      background-color: $segmented-background-active;
    }

    .segment-input:hover + .segment-label {
      background-color: $grey-2;
    }
  
    .segment-input:focus + .segment-label {
      position: relative;
      @include outline;
    }
  }
}