<div id="content" class="row content reading">
  <div class="col-sm-4 col-md-3">
    <app-context-menu [items]="contextItems"></app-context-menu>
  </div>
  <div class="col-sm-8 col-md-9">
    <h1 class="view-heading">Components</h1>
    <p>Components are reusable parts of the user interface that have been made to support a variety of applications.</p>
    <p>You can use the HTML and <a [routerLink]="['/styles']">styles</a> directly or 
      <a href="https://bitbucket.org/formatdigital/design-system/src/master/src/app/components/">download</a> the angular components we have created so far.</p>
    <hr />
    <section id="alert">
      <h2 class="sub-heading">Alert</h2>
      <p>Use the alert component to notify users of something that may impact on their experience of your service, for example planned downtime.</p>
      <div class="example">
        <app-alert>We will be offline for an hour at 03:30 CET tomorrow for essential maintenance.</app-alert>
        <app-alert status="warning"><i class="fas fa-exclamation-triangle"></i> This is an alert with a warning status.</app-alert>
      </div>
      <pre><code class="language-html" pCode>{{codeSnippets.alertHTML}}</code></pre>
    </section>
    <section id="auto-complete">
      <h2 class="sub-heading">Auto complete</h2>
      <p>Use the auto complete component when the list of options are too numerous for a standard <a [routerLink]="['./']" fragment="select">Select</a>.</p>
      <p>We use the PrimeNG auto complete and <a href="https://www.primefaces.org/primeng/#/autocomplete">full documentation</a> is available.</p>
      <app-segmented-control *ngIf="autocompleteSegments"
        name="autocomplete-types"
        [segments]="autocompleteSegments"
        cssClass="remove-bottom-margin"
        (changed)="autocompleteChanged($event)">
      </app-segmented-control>
      <div class="example">
        <fieldset class="form-fieldset" *ngIf="activeSegment == 'single'">
          <legend class="form-legend">Which study are you interested in?</legend>
          <span class="form-hint">Try typing the word study</span>
          <p-autoComplete [(ngModel)]="term" [suggestions]="results" (completeMethod)="search($event)"></p-autoComplete>
        </fieldset>
        <fieldset class="form-fieldset" *ngIf="activeSegment == 'multiple'">
          <legend class="form-legend">Which studies are you interested in?</legend>
          <label class="form-label">Studies</label>
          <p-autoComplete [(ngModel)]="term" [suggestions]="results" (completeMethod)="search($event)" [multiple]="true"></p-autoComplete>
        </fieldset>
        <fieldset class="form-fieldset" *ngIf="activeSegment == 'advanced'">
          <legend class="form-legend">Which studies are you interested in?</legend>
          <label class="form-label">Studies</label>
          <p-autoComplete [(ngModel)]="term" [suggestions]="results" (completeMethod)="search($event)" [multiple]="true" [dropdown]="true"></p-autoComplete>
        </fieldset>
      </div>
      <pre *ngIf="activeSegment == 'single'"><code class="language-html" pCode>{{codeSnippets.autocompleteBasicHTML}}</code></pre>
      <pre *ngIf="activeSegment == 'multiple'"><code class="language-html" pCode>{{codeSnippets.autocompleteMultiHTML}}</code></pre>
      <pre *ngIf="activeSegment == 'advanced'"><code class="language-html" pCode>{{codeSnippets.autocompleteAdvancedHTML}}</code></pre>
    </section>
    <section id="button">
      <h2 class="sub-heading">Button</h2>
      <p>Use the button component to help users carry out an action like starting a task or saving their information.
        You can also apply our button styling directly to a HTML button element, if you prefer.
      </p>
      <h3 class="minor-heading">Default button</h3>
      <div class="example">
        <app-button (clicked)="clicked($event)">Button</app-button>
      </div>
      <pre><code class="language-html" pCode>{{codeSnippets.buttonHTML}}</code></pre>
      <pre><code class="language-javascript" pCode>{{codeSnippets.buttonJS}}</code></pre>
      <h3 class="minor-heading">Secondary button</h3>
      <div class="example">
        <app-button cssClass="secondary" (clicked)="clicked($event)" >Secondary</app-button>
      </div>
      <pre><code class="language-html" pCode>{{codeSnippets.secondaryButtonHTML}}</code></pre>
      <pre><code class="language-javascript" pCode>{{codeSnippets.buttonJS}}</code></pre>
      <h3 class="minor-heading">Primary button</h3>
      <p>In this example we have made our button a form submit type, but it could also be a regular primary button if required.</p>
      <div class="example">
        <app-button type="submit" cssClass="primary" (clicked)="clicked($event)">Submit</app-button>
      </div>
      <pre><code class="language-html" pCode>{{codeSnippets.primaryButtonHTML}}</code></pre>
      <pre><code class="language-javascript" pCode>{{codeSnippets.buttonJS}}</code></pre>
      <h3 class="minor-heading">Warning and negative buttons</h3>
      <p>Most warning buttons would be accompanied with a confirmation.</p>
      <div class="example">
        <app-button cssClass="warning">Delete</app-button>
        <app-button cssClass="negative">Cancel</app-button>
      </div>
      <pre><code class="language-html" pCode>{{codeSnippets.warningButtonHTML}}</code></pre>
      <pre><code class="language-html" pCode>{{codeSnippets.negativeButtonHTML}}</code></pre>
      <h3 class="minor-heading">Link button</h3>
      <p>This navigational button is rendered as an &lt;a&gt; tag but can be made visually the same as our other buttons 
        by applying the appropriate styles.</p>
      <div class="example">
        <a routerLink="./" class="btn primary">Internal</a>
        <a href="http://bbc.co.uk" class="btn warning">External</a>
      </div>
      <pre><code class="language-html" pCode>{{codeSnippets.linkButtonHTML}}</code></pre>
    </section>
    <section id="calendar">
      <h2 class="sub-heading">Calendar</h2>
      <p>Use the calendar component when asking a user to input a date in the near future or past and when they may know the day / week better than the date itself. 
        Otherwise use the <a [routerLink]="['./']" fragment="date-input">Date input component</a>.</p>
      <p>We use the PrimeNG calendar for our component and <a href="https://www.primefaces.org/primeng/#/calendar">full documentation</a> is available.</p>
      <div class="example">
        <fieldset class="form-fieldset">
          <legend class="form-legend">When did the sample arrive?</legend>
          <label class="form-label" for="deliveryDate">Delivery date</label>
          <p-calendar id="deliveryDate" name="deliveryDate"></p-calendar>
        </fieldset>
      </div>
      <pre><code class="language-html" pCode>{{codeSnippets.calendarHTML}}</code></pre>
    </section>
    <section id="checkboxes">
      <h2 class="sub-heading">Checkboxes</h2>
      <p>Use checkboxes when you need to help users select multiple options from a list or toggle a single option on or off.</p>
      <div class="example">
        <fieldset class="form-fieldset">
          <legend class="form-legend">Which studies do you want to see?</legend>
          <span class="form-hint">You can select more than one</span>
          <span class="form-checkbox-item">
            <input id="study-1" name="study-1" type="checkbox" value="study1" class="form-checkbox-input" />
            <label for="study-1" class="form-checkbox-label">
              <span class="form-checkbox">
                <i class="far fa-square"></i>
              </span>
              Study 1
            </label>
          </span>
          <span class="form-checkbox-item">
            <input id="study-2" name="study-2" type="checkbox" value="study2" class="form-checkbox-input" />
            <label for="study-2" class="form-checkbox-label">
              <span class="form-checkbox">
                <i class="far fa-square"></i>
              </span>
              Study 2
            </label>
          </span>
          <span class="form-checkbox-item">
            <input id="study-3" name="study-3" type="checkbox" value="study3" class="form-checkbox-input" />
            <label for="study-3" class="form-checkbox-label">
              <span class="form-checkbox">
                <i class="far fa-square"></i>
              </span>
              Study 3
            </label>
          </span>
        </fieldset>
      </div>
      <pre><code class="language-html" pCode>{{codeSnippets.checkboxesHTML}}</code></pre>
    </section>
    <section id="data-table">
      <h2 class="sub-heading">Data table</h2>
      <p>The data table component can be used when presenting tabular data to a user that is either interactive or too large for the standard <a [routerLink]="['./']" fragment="table">table component</a>.</p>
      <p>We use the PrimeNG table component to help users work with complex data sets and <a href="https://www.primefaces.org/primeng/#/table">full documentation</a> is available.</p>
      <h3 class="minor-heading">Basic single selection</h3>
      <p>To allow the user to select a row of data to edit in a modal window. We do not recommend inline row editing.</p>
      <div class="example">
        <p-table [value]="studies" selectionMode="single" (onRowSelect)="selected($event)" [responsive]="true">
          <ng-template pTemplate="caption">Select a study from the list</ng-template>
          <ng-template pTemplate="header">
            <tr> 
                <th>Name</th>
                <th>Code</th>
                <th>Status</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-study>
            <tr [pSelectableRow]="study">
                <td class="table-header">{{study.name}}</td>
                <td>{{study.id}}</td>
                <td>{{study.status}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <pre><code class="language-html" pCode>{{codeSnippets.dataTableHTML}}</code></pre>
      <pre><code class="language-javascript" pCode>{{codeSnippets.dataTableJS}}</code></pre>
      <h3 class="minor-heading">Multiple selection</h3>
      <div class="example">
        <p-table [value]="studies" selectionMode="" [(selection)]="selectedStudies" [responsive]="true">
          <ng-template pTemplate="caption">Select studies from the list</ng-template>
          <ng-template pTemplate="header">
            <tr>
                <th width="40px"></th>
                <th>Name</th>
                <th>Code</th>
                <th>Status</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-study>
            <tr [pSelectableRow]="study" class="has-checkbox">
                <td><p-tableCheckbox [value]="study"></p-tableCheckbox></td>
                <td class="table-header">{{study.name}}</td>
                <td>{{study.id}}</td>
                <td>{{study.status}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <pre><code class="language-html" pCode>{{codeSnippets.dataTableMultiHTML}}</code></pre>
      <h3 class="minor-heading">Large data sets</h3>
      <p>In most cases you should allow the data table to scroll naturally with the browser or to set the scrollable attribute to enable scrolling 
        on the element (see PrimeNG documentation). However, in the case of very large data setting the paging attribute may be appropriate, but we recommend you 
        allow the user to filter or search before returning large data sets like this wherever possible.</p>
    </section>
    <section id="date-input">
      <h2 class="sub-heading">Date input</h2>
      <p>Use the date input component when you’re asking users for a date they’ll already know, or can look up without using a <a [routerLink]="['./']" fragment="calendar">calendar</a>.</p>
      <div class="example">
        <fieldset class="form-fieldset">
          <legend class="form-legend">What is your date of birth?</legend>
          <span class="form-hint">For example, 26 11 1985</span>
          <app-date-input [formGroup]="dateForm"></app-date-input>
        </fieldset>
      </div>
      <pre><code class="language-html" pCode>{{codeSnippets.dateInputHTML}}</code></pre>
      <pre><code class="language-javascript" pCode>{{codeSnippets.dateInputJS}}</code></pre>
    </section>
    <section id="fieldset">
      <h2 class="sub-heading">Fieldset</h2>
      <p>Use the fieldset component when you need to show a relationship between multiple form inputs.
        For example, you may need to group a set of text inputs into a single fieldset when asking for an address.</p>
      <div class="example">
        <fieldset class="form-fieldset">
          <legend class="form-legend">What is the address?</legend>
          <span class="form-hint">You can give the user a hint, if you think it will help</span>
          <div class="form-group">
            <label for="address-line-1" class="form-label">Building name and street</label>
            <input id="address-line-1" name="address-line-1" type="text" class="form-input" />
            <input id="address-line-2" name="address-line-2" type="text" class="form-input" />
          </div>
          <label for="address-line-3" class="form-label">Town or city</label>
          <input id="address-line-3" name="address-line-3" type="text" class="form-input width-two-thirds" />
          <label for="address-line-4" class="form-label">County</label>
          <input id="address-line-4" name="address-line-4" type="text" class="form-input width-two-thirds" />
          <label for="postcode" class="form-label">Postcode</label>
          <input id="postcode" name="postcode" type="text" class="form-input width-one-third" placeholder="Required" />
        </fieldset>
      </div>
      <pre><code class="language-html" pCode>{{codeSnippets.fieldsetHTML}}</code></pre>
      <h3 class="minor-heading">With an error</h3>
        <div class="example">
          <fieldset class="form-fieldset form-error">
            <legend class="form-legend">What is the address?</legend>
            <span class="form-error-message">You must enter a valid postcode</span>
            <span class="form-hint">You can give the user a hint, if you think it will help</span>
            <div class="form-group">
              <label for="address-line-1-error" class="form-label">Building name and street</label>
              <input id="address-line-1-error" name="address-line-1-error" type="text" class="form-input" />
              <input id="address-line-2-error" name="address-line-2-error" type="text" class="form-input" />
            </div>
            <label for="address-line-3-error" class="form-label">Town or city</label>
            <input id="address-line-3-error" name="address-line-3-error" type="text" class="form-input width-two-thirds" />
            <label for="address-line-4-error" class="form-label">County</label>
            <input id="address-line-4-error" name="address-line-4-error" type="text" class="form-input width-two-thirds" />
            <label for="postcode-error" class="form-label">Postcode</label>
            <span class="form-validation">A postcode is required.</span>
            <input id="postcode-error" name="postcode" type="text" class="form-input width-one-third has-error" placeholder="Required" />
          </fieldset>
        </div>
        <pre><code class="language-html" pCode>{{codeSnippets.fieldsetErrorHTML}}</code></pre>
    </section>
    <section id="footer">
      <h2 class="sub-heading">Footer</h2>
      <p>A footer should be used at the bottom of each view to allow your users to identify and navigate the Eurofins BioPharma Services brand.</p>
      <app-footer></app-footer>
      <pre><code class="language-html" pCode>{{codeSnippets.footerHTML}}</code></pre>
    </section>
    <section id="header">
      <h2 class="sub-heading">Header</h2>
      <p>A header should be used at the top of each view to allow your users to both identify and navigate your service.</p>
      <app-header [navItems]="navItems">
        <img src="assets/images/lumentum-logo.svg" alt="Lumentum" class="app-logo" />
      </app-header>
      <pre><code class="language-html" pCode>{{codeSnippets.headerHTML}}</code></pre>
      <pre><code class="language-javascript" pCode>{{codeSnippets.headerJS}}</code></pre>
    </section>
    <section id="loading-indicator">
      <h2 class="sub-heading">Loading indicator</h2>
      <p>Use the loading indicator to let the user know that something is happening in the background of your service.</p>
      <div class="example">
        <app-loading-indicator [loading]="true"></app-loading-indicator>
      </div>
      <pre><code class="language-html" pCode>{{codeSnippets.loadingHTML}}</code></pre>
    </section>
    <section id="phase-banner">
      <h2 class="sub-heading">Phase banner</h2>
      <p>Allow users to provide feedback on new services.</p>
      <div class="example">
        <app-phase-banner phase="Beta" feedbackUrl="https://www.surveymonkey.com"></app-phase-banner>
      </div>
      <pre><code class="language-html" pCode>{{codeSnippets.phaseBannerHTML}}</code></pre>
    </section>
    <section id="radios">
      <h2 class="sub-heading">Radios</h2>
      <p>Use radio buttons when users can only select one option from a list.</p>
      <p>Depending on the number of options you may also consider using the 
        <a [routerLink]="['./']" fragment="segmented-control">Segmented control</a> or <a [routerLink]="['./']" fragment="select">Select</a> components.</p>
      <div class="example">
        <fieldset class="form-fieldset">
          <legend class="form-legend">Have you completed it?</legend>
          <span class="form-radio-item inline">
            <input id="completed" name="completed" type="radio" value="yes" class="form-radio-input" checked />
            <label for="completed" class="form-radio-label">
              <span class="form-radio">
                <i class="far fa-circle"></i>
              </span>
              Yes
            </label>
          </span>
          <span class="form-radio-item inline">
            <input id="completed-1" name="completed" type="radio" value="no" class="form-radio-input" />
            <label for="completed-1" class="form-radio-label">
              <span class="form-radio">
                <i class="far fa-circle"></i>
              </span>
              No
            </label>
          </span>
        </fieldset>
      </div>
      <pre><code class="language-html" pCode>{{codeSnippets.radioHTML}}</code></pre>
    </section>
    <section id="segmented-control">
      <h2 class="sub-heading">Segmented control</h2>
      <p>A segmented control is a linear set of two or more segments, each of which functions as a mutually exclusive button. Within the control, all segments are equal in width.
        Segmented controls are often used to display different views.</p>
      <div class="example">
        <app-segmented-control *ngIf="segments"
          name="view-types"
          [segments]="segments"
          (changed)="changed($event)">
        </app-segmented-control>
      </div>
      <pre><code class="language-html" pCode>{{codeSnippets.segmentedHTML}}</code></pre>
      <pre><code class="language-javascript" pCode>{{codeSnippets.segmentedJS}}</code></pre>
    </section>
    <section id="select">
      <h2 class="sub-heading">Select</h2>
      <p>The select component allows users to choose an option from a long list. Before using the select component, 
        try asking users questions which will allow you to present them with fewer options.</p>
      <div class="example">
        <label class="form-label" for="sort">Sort by</label>
        <select id="sort" name="sort" class="form-select width-half">
          <option value="published">Recently published</option>
          <option value="updated" selected>Recently updated</option>
          <option value="views">Most views</option>
          <option value="comments">Most comments</option>
        </select>
      </div>
      <pre><code class="language-html" pCode>{{codeSnippets.selectHTML}}</code></pre>
    </section>
    <section id="table">
      <h2 class="sub-heading">Table</h2>
      <p>Use the table component to let users compare information in rows and columns. 
        Consider the <a [routerLink]="['./']" fragment="data-table">Data table</a> component if there are actions other than simple navigational links on the row content.</p>
      <p>Column widths can be controlled with the <a [routerLink]="['/styles']" fragment="layout">width overrides</a> and numbers should be right aligned for comparison.</p>
      <div class="example">
        <table class="table">
          <caption class="table-caption">Budget for studies</caption>
          <thead class="table-head">
            <tr class="table-row">
              <th scope="col" class="table-header width-half">Study</th>
              <th scope="col" class="table-header width-one-quarter">Status</th>
              <th scope="col" class="table-header numeric width-one-quarter">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-row">
              <th scope="row" class="table-header">Study 1</th>
              <td class="table-cell">On track</td>
              <td class="table-cell numeric">£10,000</td>
            </tr>
            <tr class="table-row">
              <th scope="row" class="table-header">Study 2</th>
              <td class="table-cell">On track</td>
              <td class="table-cell numeric">£5,000</td>
            </tr>
            <tr class="table-row">
              <th scope="row" class="table-header" colspan="2">Total</th>
              <td class="table-cell numeric">£15,000</td>
            </tr>
          </tbody>
        </table>
      </div>
      <pre><code class="language-html" pCode>{{codeSnippets.tableHTML}}</code></pre>
    </section>
    <section id="tabs">
      <h2 class="sub-heading">Tabs</h2>
      <p>The tabs component lets users navigate between related sections of content, displaying one section at a time. 
        They are different to segmented controls in that the sections exist in the same view.</p>
      <div class="example">
        <app-tabs>
          <app-tab title="Studies">
            <h2 class="sub-heading">A list of studies</h2>
          </app-tab>
          <app-tab title="Sites">
            <h2 class="sub-heading">A list of sites</h2>
          </app-tab>
        </app-tabs>
      </div>
      <pre><code class="language-html" pCode>{{codeSnippets.tabsHTML}}</code></pre>
    </section>
    <section id="text-input">
      <h2 class="sub-heading">Text input</h2>
      <p>Use the text input component when you need to let users enter text that’s no longer than a single line. In most cases you will need a supporting label.</p>
      <div class="example">
        <label for="site-name" class="form-label">Site name</label>
        <input id="site-name" name="site-name" type="text" class="form-input" />
      </div>
      <pre><code class="language-html" pCode>{{codeSnippets.textInputHTML}}</code></pre>
      <h3 class="minor-heading">Setting a width for larger viewports</h3>
      <p>You can set a width via <a [routerLink]="['/styles']" fragment="layout">overrides</a>.</p>
      <div class="example">
        <label for="telephone" class="form-label">Telephone number</label>
        <input id="telephone" name="telephone" type="text" class="form-input width-half" />
      </div>
      <pre><code class="language-html" pCode>{{codeSnippets.textInputWidthHTML}}</code></pre>
      <p>If you use this component within a &lt;fieldset&gt; the width will automatically be constrained to two thirds of the screen width.</p>
    </section>
    <section id="textarea">
      <h2 class="sub-heading">Textarea</h2>
      <p>Use the textarea component when you need to let users enter an amount of text that’s longer than a single line. However, users can find open-ended questions difficult to answer. 
        It might be better to break up one complex question into a series of simple ones.</p>
      <div class="example">
        <label for="more-detail" class="form-label">Please provide more information</label>
        <textarea id="more-detail" name="more-detail" class="form-textarea" rows="5"></textarea>
      </div>
      <pre><code class="language-html" pCode>{{codeSnippets.textareaHTML}}</code></pre>
    </section>
  </div>
</div>
