@import "../../../assets/styles/colours";

$loading-background: $grey-4;
$loading-bar-colour: $brand-blue;

.loading {
  position: relative;
  width: 80%;
  height: 5px;
  margin: 10% auto;
  background-color: $loading-background;
  text-align: center;

  .bar {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    left: 50%;
    text-align: center;

    &:nth-child(1) {
      background-color: $loading-bar-colour;
      animation: loading 2s linear infinite;
    }

    @keyframes loading {
      from {left: 50%; width: 0; z-index: 100;}
      33.3% {left: 0; width: 100%; z-index: 10;}
      to {left: 0; width: 100%;}
    }
  }

  p {
      padding-top: 0.5rem;
  }
}