@import "../../../assets/styles/helpers/respond-to";
@import "../../../assets/styles/colours";
@import "../../../assets/styles/typography";

$alert-background: $brand-orange;

.alert {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: $alert-background;
  font-weight: $semi-bold;
  color: $white;
  @include respond-to {
    text-align: center;
  }

  &.warning {
    background-color: $warning-colour;
  }

  &.sticky {
    position: sticky;
    top: 0;
    left: 0;
  }
}