<div *ngIf="formGroup" [class]="cssClass" [formGroup]="formGroup">
  <span>
    <label for="day" class="form-label" >Day</label>
    <input
      id="day"
      name="day"
      class="form-input width-50"
      type="number"
      pattern="[0-9]*"
      maxlength="2"
      autocomplete="off" 
      formControlName="day"
      (keydown)="limit($event)"
      (keyup)="limit($event)" />
  </span>
  <span>
    <label for="month" class="form-label" >Month</label>
    <input
      id="month"
      name="month"
      class="form-input width-50"
      type="number"
      pattern="[0-9]*"
      maxlength="2"
      autocomplete="off"
      formControlName="month"
      (keydown)="limit($event)"
      (keyup)="limit($event)" />
  </span>
  <span>
    <label for="year" class="form-label" >Year</label>
    <input
      id="year"
      name="year"
      class="form-input width-100"
      type="number"
      pattern="[0-9]*"
      maxlength="4"
      autocomplete="off"
      formControlName="year"
      (keydown)="limit($event, 4)"
      (keyup)="limit($event, 4)" />
  </span>
</div>
