@import "../../../assets/styles/colours";
@import "../../../assets/styles/helpers/respond-to";

.date-input {
  display: flex;
  min-width: 200px;

  > span {
    margin-right: 1rem;
  }

  .width-50 {
    width: 50px;
  }

  .width-100 {
    width: 100px;
  }

  &.has-error, &.ng-touched.ng-invalid {
    .form-input {
      border: solid 2px $error-colour;
    }
  }
}