@import "../../../assets/styles/helpers/respond-to";
@import "../../../assets/styles/colours";
@import "../../../assets/styles/typography";

.colour-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;

  .colour-item {
    display: flex;
    align-items: center;
    min-width: 200px;
    @include respond-to(min-width, $lg) {
      width: 45%;
    }
    margin: 0 1rem 1rem 0;

    &.wide {
      width: 95%;
    }

    p {
      margin: 0;

      span {
        display: inline-block;
      }

      span.secondary {
        color: $secondary-text-colour;
      }

      span.small {
        font-size: 0.75rem;
        line-height: 1rem;
      }
    }

    .colour {
      display: inline-block;
      width: 70px;
      height: 70px;
      margin-right: 1rem;
      background-color: $grey-3;
      border-radius: 70px;

      &.ef-blue {
        background-color: $brand-blue;
      }
      &.ef-blue-70 {
        background-color: $ef-blue-70;
      }
      &.ef-blue-40 {
        background-color: $ef-blue-40;
      }
      &.ef-orange {
        background-color: $ef-orange;
      }
      &.ef-orange-60 {
        background-color: $ef-orange-60;
      }
      &.black {
        background-color: $black;
      }
      &.white {
        background-color: $white;
        border: solid 1px $border-colour;
      }
      &.grey {
        background-color: $grey;
      }
      &.grey-1 {
        background-color: $grey-1;
      }
      &.grey-2 {
        background-color: $grey-2;
      }
      &.grey-3 {
        background-color: $grey-3;
        border: solid 1px $border-colour;
      }
      &.red {
        background-color: $red;
      }
      &.green {
        background-color: $green;
      }
      &.pink {
        background-color: $pink;
      }
    }
  }
}

.open-sans-light {
  font-weight: $light;
}

.open-sans-semibold {
  font-weight: $semi-bold;
}

.open-sans-bold {
  font-weight: $bold;
}
