<div id="content" class="row content reading">
  <div class="col-sm-4 col-md-3">
    <app-context-menu [items]="contextItems"></app-context-menu>
  </div>
  <div class="col-sm-8 col-md-9">
    <h1 class="view-heading">Styles</h1>
    <p>Use this design system to make your service consistent with the Eurofins brand.</p>
    <p>The styles we use in our colours, typography, layout and design elements are derived from the Eurofins Brand Guidelines and adapted for use on screen.</p>
    <p><a href="https://bitbucket.org/formatdigital/design-system/src/master/src/assets/styles/">Download the styles</a></p>
    <hr />
    <section id="colours">
      <h2 class="sub-heading">Colours</h2>
      <p>You must make sure that the contrast ratio of text and interactive elements in your service meets <a href="https://www.w3.org/TR/WCAG21/#contrast-minimum">level AA of the Web Content Accessibility Guidelines (WCAG 2.1)</a>.</p>
      <h3 class="minor-heading">Palette</h3>
      <ul class="colour-list">
        <li class="colour-item">
          <i class="colour ef-blue"></i>
          <p><span><b>$ef-blue</b></span><br />
          <span class="secondary">#001971</span></p>
        </li>
        <li class="colour-item">
          <i class="colour ef-blue-70"></i>
          <p><span><b>$ef-blue-70</b></span><br />
          <span class="secondary">#5c569b</span></p>
        </li>
        <li class="colour-item wide">
          <i class="colour ef-blue-40"></i>
          <p><span><b>$ef-blue-40</b></span><br />
          <span class="secondary">#5c569b</span><br />
          <span class="small">This is not colour contrast safe for text.</span></p>
        </li>
        <li class="colour-item">
          <i class="colour ef-orange"></i>
          <p><span><b>$ef-orange</b></span><br />
          <span class="secondary">#e77a34</span><br />
          <span class="small">This is not colour contrast safe for text.</span></p>
        </li>
        <li class="colour-item">
          <i class="colour ef-orange-60"></i>
          <p><span><b>$ef-orange-60</b></span><br />
          <span class="secondary">#fead7b</span><br />
          <span class="small">This is not colour contrast safe for text.</span></p>
        </li>
        <li class="colour-item">
          <i class="colour black"></i>
          <p><span><b>$black</b></span><br />
          <span class="secondary">#0b0c0c</span></p>
        </li>
        <li class="colour-item">
          <i class="colour white"></i>
          <p><span><b>$white</b></span><br />
          <span class="secondary">#ffffff</span></p>
        </li>
        <li class="colour-item">
          <i class="colour grey"></i>
          <p><span><b>$grey</b></span><br />
          <span class="secondary">#6f777b</span></p>
        </li>
        <li class="colour-item">
          <i class="colour grey-1"></i>
          <p><span><b>$grey-1</b></span><br />
          <span class="secondary">#b1b4b6</span></p>
        </li>
        <li class="colour-item">
          <i class="colour grey-2"></i>
          <p><span><b>$grey-2</b></span><br />
          <span class="secondary">#cccccc</span><br />
          <span class="small">This is not colour contrast safe for text.</span></p>
        </li>
        <li class="colour-item">
          <i class="colour grey-3"></i>
          <p><span><b>$grey-3</b></span><br />
          <span class="secondary">#f8f8f8</span><br />
          <span class="small">This is not colour contrast safe for text.</span></p>
        </li>
        <li class="colour-item">
          <i class="colour green"></i>
          <p><span><b>$green</b></span><br />
          <span class="secondary">#00703c</span></p>
        </li>
        <li class="colour-item">
          <i class="colour red"></i>
          <p><span><b>$red</b></span><br />
          <span class="secondary">#d4351c</span></p>
        </li>
        <li class="colour-item">
          <i class="colour pink"></i>
          <p><span><b>$pink</b></span><br />
          <span class="secondary">#d53880</span></p>
        </li>
      </ul>
      <h3 class="minor-heading">Semantic colours</h3>
      <p>Colours used in our components to denote specific meaning and state.</p>
      <ul class="colour-list">
        <li class="colour-item">
          <i class="colour black"></i>
          <p><span><b>$text-colour</b></span><br />
          <span class="secondary">#0b0c0c</span></p>
        </li>
        <li class="colour-item">
          <i class="colour grey"></i>
          <p><span><b>$secondary-text</b></span><br />
          <span class="secondary">#6f777b</span></p>
        </li>
        <li class="colour-item">
          <i class="colour ef-blue"></i>
          <p><span><b>$link-colour</b></span><br />
          <span class="secondary">#001971</span></p>
        </li>
        <li class="colour-item">
          <i class="colour ef-orange"></i>
          <p><span><b>$link-active</b></span><br />
          <span class="secondary">#e77a34</span></p>
        </li>
        <li class="colour-item wide">
          <i class="colour ef-blue-70"></i>
          <p><span><b>$link-visited</b></span><br />
          <span class="secondary">#5c569b</span></p>
        </li>
        <li class="colour-item">
          <i class="colour grey-1"></i>
          <p><span><b>$border-colour</b></span><br />
          <span class="secondary">#b1b4b6</span></p>
        </li>
        <li class="colour-item">
          <i class="colour ef-orange-60"></i>
          <p><span><b>$focus-colour</b></span><br />
          <span class="secondary">#fead7b</span></p>
        </li>
        <li class="colour-item">
          <i class="colour green"></i>
          <p><span><b>$success-colour</b></span><br />
          <span class="secondary">#00703c</span></p>
        </li>
        <li class="colour-item">
          <i class="colour red"></i>
          <p><span><b>$error-colour</b></span><br />
          <span class="secondary">#d4351c</span></p>
        </li>
      </ul>
    </section>
    <section id="typography">
      <h2 class="sub-heading">Typography</h2>
      <h3 class="minor-heading">Fonts</h3>
      <p>The Eurofins brand guidelines recommend Trade Gothic for print based assets and Arial for documents. Whilst Arial is a web-safe font, it does not offer us much flexibility.</p>
      <p>For that reason we have selected a sans-serif font that is very similar to Arial and can be hosted for web use under an open source lisence. </p>
      <div class="row">
        <div class="col-sm open-sans-light">
          <p>Open sans light</p>
          <p>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br />
            abcdefghijklmnopqrstuvwxyz<br />
            1234567890!@#$%^&*()?</p>
        </div>
        <div class="col-sm">
          <p>Open sans</p>
          <p>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br />
            abcdefghijklmnopqrstuvwxyz<br />
            1234567890!@#$%^&*()?</p>
        </div>
        <div class="col-sm open-sans-semibold">
          <p>Open sans semi-bold</p>
          <p>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br />
            abcdefghijklmnopqrstuvwxyz<br />
            1234567890!@#$%^&*()?</p>
        </div>
        <div class="col-sm open-sans-bold">
          <p>Open sans bold</p>
          <p>ABCDEFGHIJKLMNOPQRSTUVWXYZ<br />
            abcdefghijklmnopqrstuvwxyz<br />
            1234567890!@#$%^&*()?</p>
        </div>
      </div>
      <p>You can download and host the font locally or link to the Google font API.</p>
      <pre><code class="language-html" pCode>{{fontHTML}}</code></pre>
      <h3 class="minor-heading">Headings</h3>
      <p>Use headings consistently to create a clear hierarchy throughout your service.</p>
      <p>Markup headings semantically using the appropriate &lt;h#&gt; level HTML element and use the corresponding heading class to apply the styling.</p>
      <p>Write all headings in sentence case.</p>
      <h1 class="view-heading">view-heading</h1>
      <h2 class="sub-heading">sub-heading</h2>
      <h3 class="minor-heading">minor-heading</h3>
      <pre><code class="language-html" pCode>{{headingHTML}}</code></pre>
    </section>
    <h2 id="icons" class="sub-heading">Icons</h2>
    <p>We use the font awesome library for our icons. They have <a href="https://fontawesome.com">full documentation</a> on how to install and use their free icons, so please read it.</p>
    <h2 id="layout" class="sub-heading">Layout</h2>
    <p>Design for small screens first using a single-column layout.</p>
    <p>Never make assumptions about what devices people are using. Design for different screen sizes rather than specific devices.</p>
    <p>The default maximum page width is 1200px, but you can make it wider if your content requires it.</p>
    <h3 class="minor-heading">Grid system</h3>
    <p>Use the grid system to layout content on your views.</p>
    <p>We use the bootstrap grid and <a href="https://getbootstrap.com/docs/4.0/layout/grid/" target="_blank">full documentation</a> on how to implement it is available. Please read it.</p>
    <h3 class="minor-heading">Width overrides</h3>
    <p>These are a series of classes to allow you to override the width of components and elements on large viewports. They contain:</p>
    <ul>
      <li>width-full</li>
      <li>width-three-quarters</li>
      <li>width-two-thirds</li>
      <li>width-half</li>
      <li>width-one-third</li>
      <li>width-one-quarter</li>
    </ul>
    <h3 class="minor-heading">Header and footer</h3>
    <p>Most views need a header and a footer. You can see these in the <a routerLink="/components">components</a> section.</p>
    <p>Occasionally, a view can be created without a header or footer, like a login or landing view, but these should be treated as exceptions to the rule wherever possible.</p>
  </div>
</div>
