<div id="content" class="row content reading">
  <div class="col-sm-4 col-md-3">
    <app-context-menu outlet="patterns" [items]="contextItems"></app-context-menu>
  </div>
  <div class="col-sm-8 col-md-9">
    <router-outlet name="patterns"></router-outlet>
  </div>
</div>
