$ef-blue: #001971;
$ef-blue-70: #5c569b;
$ef-blue-40: #a29ac5;
$ef-orange: #e77a34;
$ef-orange-60: #fead7b;
$black: #0b0c0c;
$white: #fff;
$grey: #6f777b;
$grey-1: #b1b4b6;
$grey-2: #ccc;
$grey-3: #eee;
$grey-4: #f8f8f8;
$red: #d4351c;
$dark-red: #b41e06;
$green: #00703c;
$pink: #d53880;
