@import "../colours";
@import "../typography";
@import "../helpers/focus";

a.btn, .btn {
  display: inline-block;
  margin: 0 1rem 0 0;
  padding: 0.5rem 1rem;
  background-color: $button-background;
  border: none;
  border-bottom: 3px solid $button-background;
  border-radius: 3px;
  color: $button-text-colour;
  font-weight: $bold;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
  cursor: pointer;

  &.primary {
    border-bottom: 3px solid $button-active-colour;
  }

  &.secondary {
    background-color: $button-secondary-background;
    border-bottom: 3px solid $button-secondary-active-colour;

    &:hover {
      background-color: $button-secondary-active-colour;
      border-color: $button-secondary-active-colour;
    }
  }

  &.warning {
    background-color: $button-warning-background;
    border-bottom: 3px solid $button-warning-active-colour;

    &:hover {
      background-color: $button-warning-active-colour;
      border-color: $button-warning-active-colour;
    }
  }

  &.negative {
    margin: 0 1rem;
    padding: 0;
    background-color: transparent;
    border-color: transparent;
    color: $grey;
    font-weight: normal;
    text-decoration: underline;

    &:hover {
      background-color: transparent;
      border-color: transparent;
      color: $text-colour;
      text-decoration: none;
    }
  }

  &:hover {
    background-color: $button-active-colour;
    border-color: $button-active-colour;
    color: $button-text-colour;
    transition: all 0.4s linear;
  }

  &:active {
    background-color: $button-active-colour;
    color: $button-text-colour;
  }

  &:visited {
    color: $button-text-colour;
  }

  &:focus {
    @include outline;
  }
}