@import "../colours";
@import "../helpers/respond-to";
@import "../helpers/focus";

.form-checkbox-item {
  display: block;
  margin-bottom: 1rem;
  white-space: nowrap;

  @include respond-to {
    &.inline {
      display: inline-block;
    }
  }

  .form-checkbox-input {
    position: absolute;
    opacity: 0;
  }

  .form-checkbox-label {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1rem;
    @include respond-to {
      font-size: 1.1rem;
    }
    cursor: pointer;

    .form-checkbox {
      display: inline-block;
      > i {
        position: relative;
        padding: 0 3px;
        font-size: 1.6rem;
        vertical-align: middle;
        transition: all 0.2s linear;
      }
    }
  }

  .form-checkbox-input:checked + .form-checkbox-label {
    .form-checkbox {
      > i {
        color: $active-input;
      }
      > i::before {
        content: "\f14a";
      }
    }
  }

  .form-checkbox-input:focus + .form-checkbox-label {
    .form-checkbox {
      @include outline-text;
      padding: auto;
      border-radius: 4px;
    }
  }
}