@import "../colours";
@import "../helpers/respond-to";

.form-fieldset {
  @include respond-to {
    max-width: 66.6%;
  }
  margin: 0 0 1rem 0;
  padding: 0;
  border: none;

  .form-legend {
    font-size: 1.15rem;
  }

  &.form-error {
    padding-left: 1rem;
    border-left: solid 5px $error-colour;

    .form-legend {
      position: relative;
      top: 1rem;
      margin-bottom: 1.5rem;
    }
  }
  }