@import "../colours";

form {
  display: block;
  margin-bottom: 2rem;

  &.form-error {
    padding-left: 1rem;
    border-left: solid 5px $error-colour;
  }
}

.form-group {
  margin-bottom: 1rem;
}

.form-error-message {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: $bold;
  color: $error-colour;
}

.form-validation {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: $semi-bold;
  color: $error-colour;
}