@import "../colours";
@import "../helpers/respond-to";

.form-hint {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-size: 1rem;
  @include respond-to {
    font-size: 1.1rem;
  }
  color: $secondary-text-colour;
}