@import "../colours";
@import "../helpers/respond-to";

.form-label {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 1rem;
    @include respond-to {
      font-size: 1.1rem;
    }
    color: $text-colour;
  }