@import "../colours";
@import "../helpers/respond-to";
@import "../helpers/focus";

.form-radio-item {
  display: block;
  margin-bottom: 1rem;
  white-space: nowrap;

  @include respond-to {
    &.inline {
      display: inline-block;
    }
  }

  .form-radio-input {
    position: absolute;
    opacity: 0;
  }

  .form-radio-label {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1rem;
    @include respond-to {
      font-size: 1.1rem;
    }
  }

  .form-radio-label {
    .form-radio {
      display: inline-block;
      > i {
        position: relative;
        padding: 2px;
        font-size: 1.6rem;
        vertical-align: middle;
        cursor: pointer;
        transition: all 0.2s linear;
      }
    }
    cursor: pointer;
  }

  .form-radio-input:checked + .form-radio-label {
    .form-radio {
      > i {
        color: $active-input;
        cursor: default;
      }
      > i::before {
        content: "\f192";
      }
    }
    cursor: default;
  }

  .form-radio-input:focus + .form-radio-label {
    .form-radio {
      @include outline-text;
      padding: auto;
      border-radius: 20px;
    }
  }
}