@import "../colours";

.form-select {
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem;
  border: solid 2px $border-colour;
  font-size: 1.1rem;
  line-height: 1.5rem;
  box-sizing: border-box;

  &:focus {
    @include outline;
  }
}