@import "../colours";
@import "../typography";
@import "../helpers/respond-to";

.table {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: $text-colour;
  border-spacing: 0;
  border-collapse: collapse;
}

.table-head {
  border-bottom: solid 2px $border-colour;
}

.table-caption {
  margin-bottom: 1rem;
  font-size: 1rem;
  @include respond-to {
      font-size: 1.1rem;
  }
  font-weight: $bold;
  text-align: left;
}

.table-header {
  font-weight: $semi-bold;
}

thead {
  .table-header {
    font-weight: $bold;
  }
}

.table-header, .table-cell {
  padding: 0.5rem 1rem 0.5rem 0;
  border-bottom: solid 1px $border-colour;
  vertical-align: top;
  text-align: left;

  &:last-child {
    padding-right: 0;
  }

  &.numeric {
    text-align: right;
  }
}