@import "../colours";

.form-textarea {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.25rem;
    border: solid 2px $border-colour;
    color: $text-colour;
    font-family: $body-font-family;
    font-size: 1.1rem;
    line-height: 1.5rem;
    box-sizing: border-box;
    border-radius: 0;
    box-shadow: none;
    appearance: none;
  
    &.has-error {
      border: solid 2px $error-colour;
    }
  
    &:focus {
      @include outline;
    }
  }