@import "../colours";
@import "../helpers/respond-to";
@import "../helpers/focus";

.form-input {
    width: 100%;
    height: 2.5rem;
    margin-bottom: 1rem;
    padding: 0.25rem;
    border: solid 2px $border-colour;
    color: $text-colour;
    font-family: $body-font-family;
    font-size: 1.1rem;
    line-height: 1.5rem;
    box-sizing: border-box;
    border-radius: 0;
    box-shadow: none;
    appearance: none;
  
    &.has-error, &.ng-touched.ng-invalid {
      border: solid 2px $error-colour;
    }
  
    &::placeholder {
      color: $grey-2;
    }
  
    &[type=number]::-webkit-inner-spin-button, 
    &[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  
    &:focus {
      @include outline;
    }
  }
  
  .date-input {
    &.has-error, &.ng-touched.ng-invalid {
      .form-input {
        border: solid 2px $error-colour;
      }
    }
  }