@import "../colours";

@mixin outline {
  outline: 2px solid $focus-colour;
}

@mixin outline-text {
  outline: none;
  padding: 3px auto;
  background-color: rgba($focus-colour, 0.25);
  box-sizing: border-box;
}