<ul class="tabs">
  <li *ngFor="let tab of tabs" (click)="$event.preventDefault(); selectTab(tab)" class="tab-item">
    <a href="#" class="tab-link" [class.active]="tab.active">{{tab.title}}</a>
  </li>
</ul>
<ng-content></ng-content>
