@import "../../../assets/styles/colours";
@import "../../../assets/styles/typography";
@import "../../../assets/styles/helpers/focus";
@import "../../../assets/styles/helpers/respond-to";

.tabs {
  margin: 0 0.5rem;
  padding: 0;
  list-style-type: none;

  .tab-item {
    @include respond-to {
     display: inline-block;
     margin-right: 1rem;
    }

    .tab-link {
      display: block;
      margin-bottom: 0.5rem;
      @include respond-to {
        margin-bottom: 0;
      }
      color: $link-colour;
      text-decoration: none;

      &.active {
        @include respond-to {
          padding: 0.5rem 1rem;
          border: solid 1px $border-colour;
          border-bottom: solid 1px $white;
          border-radius: 4px 4px 0 0;
        }
        color: $text-colour;
        font-weight: $semi-bold;
        cursor: default;

        &:focus {
          @include outline;
          background-color: transparent;
        }
      }
    }
  }
}

.tab {
  margin-top: 0.5rem;
  @include respond-to {
    margin-top: -1px;
  }
  padding: 1rem 0.5rem;
  border-top: solid 1px $border-colour;
}