@import "../elements/text-input";
@import "../helpers/respond-to";

/*
  This file extends the Eurofins input styles to the PrimeNG autocomplete component.
*/

$autocomplete-background: $white;
$highlight-colour: $ef-blue;
$highlight-text-colour: $white;

.ui-autocomplete {
  .ui-inputtext {
    @extend .form-input;
  }

  .ui-autocomplete-list {
    padding: 0 !important;
    background-color: $autocomplete-background;

    .ui-autocomplete-list-item {
      padding: 0.5rem;

      &.ui-state-highlight {
        background-color: $highlight-colour;
        color: $highlight-text-colour;
        cursor: pointer;
      }
    }
  }

  // multiple - tags
  .ui-autocomplete-multiple-container {
    &.ui-inputtext {
      height: auto;
      margin-bottom: 1rem;
      padding: 0.1rem 0.25rem;

      &.ui-state-focus {
        @include outline;
        outline-offset: -2px;
      }
    }
  }

  .ui-autocomplete-input-token {
    input {
      font-family: $body-font-family;
      font-size: 1.1rem;
    }
  }

  .ui-autocomplete-token {
    position: relative;
    padding: 0.1rem 0.5rem;
    background-color: $highlight-colour;
    font-size: 16px;
    color: $highlight-text-colour;
    border-radius: 3px;
    white-space: nowrap;
    vertical-align: middle;
  }

  .ui-autocomplete-token-label {
    margin-right: 1.5rem;
  }

  .ui-autocomplete-token-icon {
    font-size: 1.2rem;
  }
}

// dropdown
.ui-autocomplete-dd {
    .ui-inputtext {
      width: auto;
      max-width: 90%;
      margin-right: -32px;
    }
    
    .ui-autocomplete-dropdown {
      position: absolute;
      &.ui-button-icon-only {
        height: 2.5rem;
        background-color: $highlight-colour;
        border-color: $highlight-colour;
        font-size: 1rem;
        color: $highlight-text-colour;

        &:focus {
          @include outline;
        }
      }
    }
  }