@import "../elements/text-input";
@import "../helpers/respond-to";

/*
  This file extends the Eurofins input styles to the PrimeNG calendar component.
*/

$calendar-background: $white;
$hover-colour: $grey-4;
$highlight-colour: $grey-3;
$select-colour: $brand-blue;
$select-text-colour: $white;

.ui-calendar {
  .ui-inputtext {
    @extend .form-input;
  }

  .ui-datepicker {
    @include respond-to {
      min-width: 320px !important;
    }
    padding: 1rem;
    background-color: $calendar-background;

    .ui-state-default {
      &:hover {
        background-color: $hover-colour;
        cursor: pointer;
      }

      &.ui-state-highlight {
        background-color: $highlight-colour;
      }

      &.ui-state-active {
        background-color: $select-colour;
        color: $select-text-colour;
      }
    }

    .ui-datepicker-header, .ui-timepicker {
      a {
        color: $secondary-text-colour;
      }
    }
  }
}

.ng-touched.ng-invalid {
  .ui-calendar {
    .ui-inputtext {
      border: solid 2px $error-colour;
    }
  }
}