@import "../elements/table";
@import "../helpers/focus";
@import "../helpers/respond-to";

/*
  This file extends the Eurofins table styles to the PrimeNG table component.
*/

// variables
$hover-colour: $grey-4;
$select-colour: $brand-blue;
$select-text-colour: $white;
$paging-background: $grey-3;

// primeng data table
.ui-table-caption {
  @extend .table-caption;
  padding: 0 !important;
  text-align: left !important;
}

.ui-table-wrapper table {
  @extend .table;
}

.ui-selectable-row {
  border-bottom: solid 1px $border-colour;

  &:hover {
    background-color: $hover-colour;
    cursor: pointer;
  }

  &:focus {
    @include outline;
  }

  &.has-checkbox {
    &:hover {
      background-color: transparent;
      cursor: default;
    }
  }

  &.ui-state-highlight {
    background-color: $select-colour;
    color: $select-text-colour;
    transition: all 0.3s linear;

    &:hover {
      background-color: $select-colour;
    }
  }
}

.ui-table-thead {
  @extend .table-head;

  th {
    @extend .table-header;
    font-weight: $bold;
  }
}

.ui-table-tbody td {
  @extend .table-cell;
}

.ui-table-tbody td,
.ui-table-thead th {
  padding: 0.5rem 1rem 0.5rem 0.5rem !important;
}

.ui-table-thead th {
  &:first-child {
    padding-left: 0 !important;
  }
}

// paging
.ui-paginator-page {
  &.ui-paginator-element {
    background-color: $paging-background;
    &.ui-state-active {
      background-color: $select-colour;
      color: $select-text-colour;
    }
  }
}

// sorting
.ui-table {
  .ui-sortable-column {
    .ui-sortable-column-icon {
      font-size: 1rem;
      color: $text-colour !important;
    }

    &:focus {
      @include outline;
    }
  }
}

// checkbox
.ui-table {
 .ui-chkbox .ui-chkbox-box {
   width: 20px;
   height: 20px;
   text-align: center;
   line-height: 20px;
   border: solid 2px $black;

  &.ui-state-active {
    border-color: $select-text-colour;
  }

  &.ui-state-focus {
    @include outline-text;
  }
 }
}