@import "../colours";
@import "../settings/fonts";
@import "../helpers/respond-to";

$overlay-background: rgba($black, 0.3);
$dialog-background: $white;
$dialog-border-colour: $grey-2;

.modal {
  width: 90vw;

  @include respond-to {
    width: 70vw;
  }

  @include respond-to(min-width, $lg) {
    width: 50vw;
  }
}

.ui-dialog-wrapper {
  &.ui-widget-overlay {
    background-color: $overlay-background;
  }

  .ui-dialog {
    min-width: 280px;
    padding: 0;
    background-color: $dialog-background;
    box-shadow: 0 0 6px 0 $box-shadow-colour;
    border-radius: 5px;

    .ui-dialog-titlebar {
      padding: 0.5rem 0.5rem 0.25rem 1rem;
      border-bottom: solid 1px $dialog-border-colour;
      font-size: 1.1rem;
      font-weight: $semi-bold;
      line-height: 1.8rem;

      .ui-dialog-titlebar-icons {
        font-size: 1.5rem;
      }
    }

    .ui-dialog-content {
      min-height: 200px;
      padding: 1rem;
    }

    .ui-dialog-footer {
      padding: 1rem;
      border-top: 1px solid $dialog-border-colour;
      text-align: right;
    }
  }
}
