.remove-all-margins {
  margin: 0 !important;
}
.remove-bottom-margin {
  margin-bottom: 0 !important;
}
.remove-top-margin {
  margin-top: 0 !important;
}
.remove-left-margin {
  margin-left: 0 !important;
}
.remove-right-margin {
  margin-right: 0 !important;
}