@import "../helpers/respond-to";

 @include respond-to {
    .width-full {
      width: 100% !important;
    }

    .width-three-quarters {
      width: 75% !important;
    }

    .width-two-thirds {
      width: 66.66% !important;
    }

    .width-half {
      width: 50% !important;
    }

    .width-one-third {
      width: 33.33% !important;
    }

    .width-one-quarter {
      width: 25% !important;
    }
}