@import "./settings/palette";

/* Global semantic colours */

$brand-blue: $ef-blue;
$brand-orange: $ef-orange;
$text-colour: $black;
$secondary-text-colour: $grey;
$link-colour: $ef-blue;
$link-active: $ef-orange;
$link-visited: $ef-blue-70;
$border-colour: $grey-1;
$focus-colour: $ef-orange-60;
$error-colour: $red;
$warning-colour: $red;
$success-colour: $green;
$header-background: $white;
$app-background: $grey-4;
$box-shadow-colour: rgba($grey, 0.25);

// Buttons
$button-background: $ef-blue;
$button-text-colour: $white;
$button-active-colour: $ef-blue-70;
$button-secondary-background: $grey;
$button-secondary-active-colour: $grey-1;
$button-warning-background: $red;
$button-warning-active-colour: $dark-red;

// Segmented control
$segmented-background: $grey-3;
$segmented-background-active: $ef-blue;

// Forms
$active-input: $ef-orange;
