@import "node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "./colours";
@import "./helpers/respond-to";
@import "./overrides/widths";
@import "./overrides/margins";

$header-height: 60px;

html, body {
  margin: 0;
  padding: 0;
  background-color: $app-background;
}

.app-logo {
  width: auto;
  height: 35px;
}

.content {
  min-height: 500px;
  @include respond-to(min-width, 1600px) {
    min-height: 650px;
  }
  padding-top: 2rem;
  padding-bottom: 2rem;

  &.reading {
    background-color: $white;
  }

  &.with-padding {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

section {
  display: block;
  margin-bottom: 2rem;
}

aside {
  display: block;
  margin-bottom: 1rem;
}

hr {
  margin: 1rem 0;
  border: none;
  border-bottom: solid 1px $border-colour;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
}