@import "./colours";
@import "./helpers/focus";

a, .link {
  display: inline-block;
  color: $link-colour;

  &:hover {
    color: $link-active;
  }
  &:visited {
    color: $link-visited;
  }
  &:focus {
    @include outline-text;
  }
}