@import "./settings/fonts";
@import "./colours";
@import "./helpers/respond-to";

$reset-margin: 0 0 1rem 0;

body {
  font-family: $body-font-family;
  font-size: $base-font-size;
  font-weight: normal;
  color: $text-colour;
}

h1, h2, h3, h4 {
  margin: $reset-margin;
  font-size: 1.15rem;
  @include respond-to {
    font-size: 1.5rem;
  }
  font-weight: normal;
}

p {
  margin: $reset-margin;
  font-size: 0.9rem;
  @include respond-to {
    font-size: 1rem;
  }
  color: $text-colour;
  line-height: 1.5rem;

  &.secondary {
    color: $secondary-text-colour;
  }

  &.leading {
    font-size: 1.15rem;
    @include respond-to {
      font-size: 1.25rem;
    }
  }

  &.small {
    font-size: 0.75rem;
    @include respond-to {
      font-size: 0.9rem;
    }
  }
}

ul, ol {
  margin: $reset-margin;

  li {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

b, strong {
  font-weight: $semi-bold;
}

.app-heading {
  color: $secondary-text-colour;
  font-size: 1.2rem;
  @include respond-to {
    font-size: 1.5rem;
  }
  font-weight: 200;
  text-decoration: none;

  &:hover, &:focus, &:visited {
    color: $secondary-text-colour;
  }
}

.view-heading {
  font-weight: $light;
  font-size: 1.5rem;
  @include respond-to {
    font-size: 1.75rem;
  }
}

.sub-heading {
  font-weight: $semi-bold;
  font-size: 1.15rem;
  @include respond-to {
    font-size: 1.4rem;
  }
}

.minor-heading {
  margin-top: 1rem;
  font-weight: $bold;
  font-size: 1rem;
  @include respond-to {
    font-size: 1.15rem;
  }
}