@import "../../../assets/styles/helpers/respond-to";
@import "../../../assets/styles/helpers/focus";
@import "../../../assets/styles/typography";
@import "../../../assets/styles/colours";
@import "../../../assets/styles/layout";

.primary-navigation {
  .nav-toggle {
    display: inline-block;
    @include respond-to(min-width, $md) {
      display: none;
    }
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: $link-colour;

    &:hover {
      color: $link-active;
    }
    &:focus {
      outline: none;
    }
    &:active, &.active {
      color: $link-active;
    }

    .fa-bars {
      font-size: 1.5rem;
    }

    span {
      display: none;
    }
  }

  .nav-list {
    position: fixed;
    top: $header-height;
    left: 0;
    display: none;
    width: 100%;
    margin: 0;
    padding: 1rem 1rem 2rem 1rem;
    background-color: $header-background;
    list-style-type: none;
    box-shadow: 0 20px 15px -15px $box-shadow-colour;
    z-index: 10;
    @include respond-to(min-width, $md) {
      position: relative;
      top: auto;
      display: inline-block;
      padding: 0;
      box-shadow: none;
      z-index: auto;
    }

    .nav-item {
      @include respond-to(min-width, $md) {
        display: inline-block;
        margin-right: 1rem;
      }

      .nav-link {
        display: inline-block;
        margin-bottom: 0.5rem;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 2rem;
        @include respond-to(min-width, $md) {
          margin-bottom: 0;
          line-height: $header-height - 4px;
        }
        color: $link-colour;
        cursor: pointer;
        
        &:hover {
          text-decoration: underline;
        }
        
        &.active {
          font-weight: $semi-bold;
          border-bottom: 2px solid $ef-orange;
          @include respond-to (min-width, $md) {
            border-bottom-width: 4px;
          }

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    @include respond-to(max-width, $md) {
      &.show {
        display: inline-block;
      }
  
      &.hide {
        display: none;
      }
    }
  }
}