<nav class="primary-navigation">
  <button class="nav-toggle" (click)="onToggle()" [ngClass]="toggle ? 'active' : ''">
    <i class="fas fa-bars"></i><span>Menu</span>
  </button>
  <ul class="nav-list" [ngClass]="toggle ? 'show' : 'hide'">
    <li *ngFor="let item of items" class="nav-item">
      <a [routerLink]="[item.route]"
        [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{exact: false}"
        (click)="onToggle()"
        class="nav-link">{{item.name}}</a>
    </li>
  </ul>
</nav>
