<h1 class="view-heading">Asking the user to input dates</h1>
<p>When we need to ask the user to input a date we need to consider whether it is easier for them to directly enter the date, as they already know it well,
   or if they will need help finding that date via a calendar.</p>
<p>When entering recent dates via a single input field we should ask the user for the following format: <b>010170 16:30</b>.
All dates should be presented back to the user as: <b>01Jan1970 16:30</b> (only showing time when needed).</p>
<app-segmented-control *ngIf="dateSegments"
   name="date-types"
   [segments]="dateSegments"
   cssClass="remove-bottom-margin"
   (changed)="dateTypeChanged($event)">
 </app-segmented-control>
<div class="example" *ngIf="activeSegment == 'input'">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" [ngClass]="hasErrors === true ? 'form-error' : ''">
    <legend class="form-legend">What is your date of birth?</legend>
    <span *ngIf="hasErrors === true" class="form-error-message">This form has errors and has not been saved.</span>
    <span class="form-hint">For example, 26 11 1985</span>
    <app-date-input [formGroup]="form"></app-date-input>
    <span *ngIf="hasErrors === true" class="form-validation">{{validation}}</span>
    <app-button type="submit" cssClass="primary">Save</app-button>
    <app-button cssClass="negative" (click)="clearForm()">Clear</app-button>
  </form>
  <p *ngIf="this.result"><b>Formatted date:</b> {{ this.result }}</p>
</div>
<section *ngIf="activeSegment == 'input'">
  <h2 class="sub-heading">Working with familiar or distant dates</h2>
  <p>The above example is created using <a href="https://angular.io/guide/reactive-forms">Angular Reactive Forms</a>, some basic 
    <a href="https://angular.io/guide/form-validation">validation</a>, some custom validation, <a href="https://momentjs.com/docs/">Moment.js</a> for date formatting and our 
    <a routerLink="/components" fragment="date-input">date input</a> component.</p>
  <h3 class="minor-heading">The HTML</h3>
  <pre><code class="language-html" pCode>{{codeSnippets.formHTML}}</code></pre>
  <h3 class="minor-heading">Creating the form on page load</h3>
  <p>We add some basic required validation here on the date input fields and bind them to our reactive form.</p>
  <pre><code class="language-javascript" pCode>{{codeSnippets.initJS}}</code></pre>
  <h3 class="minor-heading">Form submission</h3>
  <p>We check for reactive form validation here and if valid we attempt to format the date input and call our custom date handling validation.</p>
  <pre><code class="language-javascript" pCode>{{codeSnippets.submitJS}}</code></pre>
  <h3 class="minor-heading">Custom validation and date formatting</h3>
  <p>We attempt to convert the input from the user into a date object. If this works, we check the date created is not newer than today and then format it using Moment.js. </p>
  <pre><code class="language-javascript" pCode>{{codeSnippets.validationJS}}</code></pre>
  <p>View the full example <a href="https://bitbucket.org/formatdigital/design-system/src/master/src/app/views/patterns/date/">here</a>.</p>
</section>

<div class="example" *ngIf="activeSegment == 'calendar'">
  <form [formGroup]="sampleForm" (ngSubmit)="onSubmit(sampleForm.value)" [ngClass]="hasErrors === true ? 'form-error' : ''">
    <legend class="form-legend">When was the sample sent?</legend>
    <span *ngIf="hasErrors === true" class="form-error-message">This form has errors and has not been saved.</span>
    <span class="form-hint">For example, 181219</span>
    <div class="form-group">
      <label class="form-label" for="sampleDate">Date</label>
      <p-calendar id="sampleDate" name="sampleDate" formControlName="sampleDate" hideOnDateTimeSelect="true" dateFormat="ddmmy"></p-calendar>
      <span *ngIf="hasErrors === true" class="form-validation">{{validation}}</span>
    </div>
    <app-button type="submit" cssClass="primary">Save</app-button>
    <app-button cssClass="negative" (click)="clearForm()">Clear</app-button>
  </form>
  <p *ngIf="this.result"><b>Formatted date:</b> {{ this.result }}</p>
</div>
<section *ngIf="activeSegment == 'calendar'">
  <h2 class="sub-heading">Working with calendar dates</h2>
  <p>The above example is created using <a href="https://angular.io/guide/reactive-forms">Angular Reactive Forms</a>, some basic 
    <a href="https://angular.io/guide/form-validation">validation</a>, some custom validation, <a href="https://momentjs.com/docs/">Moment.js</a> for date formatting and our 
    <a routerLink="/components" fragment="calendar">calendar</a> component.</p>
  <h3 class="minor-heading">The HTML</h3>
  <pre><code class="language-html" pCode>{{codeSnippets.sampleFormHTML}}</code></pre>
  <h3 class="minor-heading">Creating the form on page load</h3>
  <p>We add some basic required validation here on the input field and bind it to our reactive form.</p>
  <pre><code class="language-javascript" pCode>{{codeSnippets.sampleInitJS}}</code></pre>
  <h3 class="minor-heading">Form submission</h3>
  <p>We check for reactive form validation here and if valid we attempt to format the date input and call our custom date handling validation.</p>
  <pre><code class="language-javascript" pCode>{{codeSnippets.submitJS}}</code></pre>
  <h3 class="minor-heading">Custom validation and date formatting</h3>
  <p>We check the date entered is not newer than today and then format it using Moment.js. The key differnce to the date input component is that the calendar returns a date object.</p>
  <pre><code class="language-javascript" pCode>{{codeSnippets.sampleValidationJS}}</code></pre>
  <p>View the full example <a href="https://bitbucket.org/formatdigital/design-system/src/master/src/app/views/patterns/date/">here</a>.</p>
</section>
